body{
    display: flex;
    justify-content: center; 
    margin-top: 30px;  
}

.first{
    background-color: rgb(101, 100, 100); 
    text-align: end;
    border: 1px solid darkgray;
    color: black;
}

.z-column{
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid darkgray;

}

.t-column{
    background-color: rgb(255, 148, 109);
    text-align:center;
    color: white;
    border: 1px solid darkgray;
}